{% extends 'blog/base.html' %}
{%block content%}
{% for post in posts %}

<div class="card text-center text-white bg-primary mb-3 ">
  <div class="card-body">
 <h3 class="card-header"><a href="{% url 'post_detail' pk=post.pk %}" class="title">{{ post.title }}</a></h2></h3>
    <p class="card-text">{{ post.text|linebreaksbr }}</p>
    <a href="#" class="btn btn-primary"></a>
  </div>
  <div class="card-footer " style="color:white;">
    {{ post.published_date }}
  </div>
</div>


{% endfor %}
{%endblock%}